@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-colour: #FCD34D;
}

body {
    font-family: 'Carter One', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

textarea {
    border: 1px solid black;
    width: 50%;
    height: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    block-size: 4rem;
    font-size: large;
    font-style: italic;
    font-weight: 50;
    resize: none;
}

#head {
    text-align: center;
    background-color: var(--primary-colour);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
}

#tail {
    text-align: center;
    background-color: var(--primary-colour);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    margin-top: auto;
}

div {
    font-size: large;
    text-align: center;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1rem;
    border-radius: 20px;
    block-size: 4rem;
    
}

.primary-btn {
    border-radius: 2rem;
    border: 1px solid black;
    text-align: center;
    margin: 1rem;
    padding: 1rem 1rem;
    font-size: large
}